.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.android/
.ios/
*.iml
.gradle/
local.properties
.dart_tool/
.packages
.pub-cache/
.pub/
.idea/
*.lock
!pubspec.lock
artifact_v1049.zip
